@import "./mixin";

$text-large: .18rem;
$text-big: .16rem;
$text-medium: .14rem;
$text-small: .12rem;
$text-tiny: .1rem;

$text-large-lh: .2rem;
$text-big-lh: .18rem;
$text-medium-lh: .16rem;
$text-small-lh: .15rem;
$text-tiny-lh: .12rem;

$text-big-max-height3: .54rem;
$text-medium-max-height3: .48rem;
$text-samll-max-height3: .42rem;
$text-big-max-height2: .36rem;
$text-medium-max-height2: .32rem;
$text-medium-max-height: .16rem;
$text-small-max-height2: .3rem;
$text-small-max-height: .15rem;
$text-tiny-max-height: .12rem;

.title-big {
  line-height: $text-big-lh;
  font-size: $text-big;
  max-height: $text-big-max-height2;
  color: #444;
  font-weight: bold;
  @include ellipsis2(3);
}
.title-medium {
  font-size: $text-medium;
  line-height: $text-medium-lh;
  max-height: $text-medium-max-height2;
  color: #444;
  font-weight: bold;
  @include ellipsis2(3);
}
.title-small {
  font-size: $text-small;
  line-height: $text-small-lh;
  max-height: $text-small-max-height2;
  color: #444;
  font-weight: bold;
  @include ellipsis2(2);
}
.sub-title-medium {
  line-height: $text-medium-lh;
  font-size: $text-medium;
  max-height: $text-medium-max-height2;
  color: #666;
  text-align: center;
  @include ellipsis2(2);
}
.sub-title {
  line-height: $text-small-lh;
  font-size: $text-small;
  max-height: $text-small-max-height;
  color: #666;
  @include ellipsis2(1);
}
.sub-title-tiny {
  line-height: $text-tiny-lh;
  font-size: $text-tiny;
  max-height: $text-tiny-max-height;
  color: #666;
  @include ellipsis2(1);
}
.third-title {
  line-height: $text-small-lh;
  font-size: $text-small;
  max-height: $text-small-max-height;
  color: #999;
  @include ellipsis2(1);
}
.third-title-tiny {
  line-height: $text-tiny-lh;
  font-size: $text-tiny;
  max-height: $text-tiny-max-height;
  color: #999;
  @include ellipsis2(1);
}
